node_modules
coverage
coverage.json
typechain
dist

#Hardhat files
cache
artifacts

#local env variables
.env
.env.test

.openzeppelin

# MacOS
.DS_Store

# Certora
.certora*
resource_errors.json
last_conf*

.idea

cache_forge

out

# Ignores development and testnet broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/97/
/broadcast/**/dry-run/

oftChains.json

typechain-types

lib/
