node_modules
coverage
coverage.json
typechain
dist

#Hardhat files
cache
artifacts

#local env variables
.env
.env.test

.openzeppelin

# MacOS
.DS_Store

# Certora
.certora*
resource_errors.json
last_conf*

.idea
